.loaderContainer{
   display: flex;
   justify-content: center; 
   align-items: center;
   height: 100vh;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   background-color: #F2F4F7;
}
.loader{ 
   color: #E44848;   
   border-color: #E44848;
}