.truckContainer{
   display: flex;
   flex-direction: row;
   gap: 64px;
  
}
.loadMoreBtn{
   height: 40px;
   background-color:#ffff;
   color: #101828;
   border: 1px solid #DADDE1;
   border-radius: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   width: 154px;
   height: 56px;
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
   transition: 500ms;
   cursor: pointer;
}

.loadMoreBtn:hover, .loadMoreBtn:focus{
  border-color: #E44848;
}


.locationInputContainer {
   position: relative;
   display: flex;
   align-items: center;
   background-color: #F7F7F7;
   width: 360px; 
   border-radius: 12px; 
   border: none;
   margin-bottom: 40px;
   outline: none;
   padding: 16px;
   
 }
.locationInput{
   width: 100%;
  border-radius: 12px; 
  border: none;
  background: #F7F7F7;
  outline: none;
  font-size: 16px;
  color: #101828;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}
.locationInput::placeholder{
   color:#101828;
}


.locationIcon {
   width: 20px;
   height: 20px;
   color: #101828;
   margin-right: 8px;
  
   
 }





.cardList{
   display:flex ;
   flex-direction: column;
   gap: 32px;
   justify-content: center;
   margin-bottom: 40px;
 }
 .card {
  width: 888px;
  height: 100%;
  padding: 24px;
  border: 1px solid #DADDE1;
  border-radius: 20px; 
  display: flex;
  gap: 24px; 
 }
 
 .cardDescription{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #475467;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 24px;
   font-weight: 400;
 }
 .cardImgContainer{
   width: 292px;
   height: 320px;
   
   
 }

 .cardImg{
   width: 100%;
   height: 100%;   
   object-fit:cover;
   border-radius: 10px;
   
 }
 .cardContent{
   width: 534px;
   height: 100%;
 }
 .camperName{
   font-size: 24px;
   line-height: 32px;
   color: #101828;

 }
 .camperNameContainer{
   display: flex;
   align-items: center;
   justify-content:space-between;
   position: relative;
   margin-bottom: 8px;

 }
 .camperPrice{
   font-size: 24px;
   
   line-height: 32px;
   font-weight: 600;
   color: #101828;
 }
 .heartBtn{
   
   width: 24px;
   height: 24px;
   background-color:transparent;
   cursor: pointer;
   outline: none;
   border: none;
   padding: 0;
   margin: 0;
   position: absolute;
   right: -43px;
   

 }
 
 .heartIcon{
   color: #101828;
   width: 24px;
   height: 24px;
 }

 .heartIcon:hover, 
 .heartIcon:focus
 {
  color: #E44848;
}
.heartActiveIcon{
   width: 24px;
   height: 24px;
   color: #E44848;
}
 .camperSubContainer{
   display: flex;
   gap:16px;
   margin-bottom: 24px;

}
 .ratingIcon{
   width: 16px;
   height: 16px;
   fill: #FFC531;
   border: none;
 }
 .campertextLocation{
   font-size: 16px;
   color: #101828;
 }

 
 
 .showMoreBtn{
   background-color: #E44848;
   color: #FFFFFF;
   font-weight: 500;
   line-height: 24px;
   font-size: 16px;
   padding: 16px 40px;
   border-radius: 200px;
   width: 173px;
   height: 56px;
   text-align: center;
   display: block;
   border: none;
   outline: none;
   cursor: pointer;
   transition: 500ms;
 }
 
 .showMoreBtn:hover, .showMoreBtn:focus{
  background-color: #c03535;
 }