.truckContainer{
   display: flex;
   flex-direction: row;
   gap: 64px;
}
.loadMoreBtn{
   height: 40px;
}
.filterForm{
   display: flex;
   flex-direction:column;
   align-items: start; 
   width: 360px;
}

.locationInputContainer {
   position: relative;
   display: flex;
   align-items: center;
   background-color: #F7F7F7;
   width: 360px; 
   border-radius: 12px; 
   border: none;
   margin-bottom: 40px;
   outline: none;
   padding: 16px;
   
 }
.locationInput{
   width: 100%;
  border-radius: 12px; 
  border: none;
  background: #F7F7F7;
  outline: none;
  font-size: 16px;
  color: #101828;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}
.locationInput::placeholder{
   color:#101828;
}


.locationIcon {
   width: 20px;
   height: 20px;
   color: #101828;
   margin-right: 8px;
  
   
 }

.formLabels{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #6C717B;
}
.formText{
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   color: #6C717B;
   margin-bottom: 32px;
} 
.typeBox{
   display: none;
}

.equipmentGrid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
   margin-bottom: 20px;
   border-top: 3px solid #DADDE1;
   padding-top: 24px;      
}
.equipmentLabel {
   cursor: pointer;
}
.equipmentButton {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 112px;
   height: 96px;
   border: 1px solid #d1d5db; 
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
   text-align: center;
}
.equipmentButton:hover {
   border-color: #9e9be1; /* Фіолетовий при наведенні */
}

input[type="checkbox"]:checked + .equipmentButton {
   border-color: #E44848; 
}

input[type="radio"]:checked +.equipmentButton{
   border-color: #E44848; 
}

.formTitle{
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   margin-bottom: 24px;
}
.searchBtn{
   width: 166px;
   height: 56px;
   padding: 16px 60px 16px 60px;
   background-color: #E44848;
   border-radius: 200px;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
   letter-spacing: 0.5; 


}
.cardList{
   display:flex ;
   flex-direction: column;
   gap: 32px;
 
 }
 .card {
  width: 888px;
  height: 100%;
  padding: 24px;
  border: 1px solid #DADDE1;
  border-radius: 20px; 
  display: flex;
  gap: 24px; 
 }
 
 .cardDescription{
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: #475467;
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 24px;
   font-weight: 400;
 }
 .cardImgContainer{
   width: 292px;
   height: 320px;
   
   
 }

 .cardImg{
   width: 100%;
   height: 100%;   
   object-fit:cover;
   border-radius: 10px;
   
 }
 .cardContent{
   width: 534px;
   height: 320px;
 }
 .camperName{
   font-size: 24px;
   line-height: 32px;
   color: #101828;

 }
 .camperNameContainer{
   display: flex;
   align-items: center;
   justify-content:space-between;
   position: relative;
   margin-bottom: 8px;

 }
 .camperPrice{
   font-size: 24px;
   text-align: center;
   line-height: 32px;
   font-weight: 600;
   color: #101828;
 }
 .heartBtn{
   /* width: 24px;
   height: 20px; */
   color: #101828;
   background-color:transparent;
   cursor: pointer;
   outline: none;
   border: none;
   padding: 0;
   /* display: flex;
   align-items: center;
   justify-content: center; */
   position: absolute;
   right: -43px;

 }
 .heartIcon{
   width: 26px;
   height: 24px;
 }
 .camperSubContainer{
   display: flex;
   gap:16px;
   margin-bottom: 24px;

}
 .ratingIcon{
   width: 16px;
   height: 16px;
   fill: #FFC531;
   border: none;
 }
 .campertextLocation{
   font-size: 16px;
   color: #101828;
 }

 .featureContainer{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
    margin-bottom: 24px;
    width: 430px;
   gap: 8px;
 }
 .featureItem{
   display: flex
;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 12px 18px;
    background-color: #f2f4f7;
    font-weight: 500;
    font-size: 16px;
    color: #101828;
    height: auto;

 }
 .showMoreBtn{
   background-color: #E44848;
   color: #FFFFFF;
   font-weight: 500;
   line-height: 24px;
   font-size: 16px;
   padding: 16px 40px;
   border-radius: 200px;
   width: 173px;
   height: 56px;
   text-align: center;
   display: block;
   border: none;
   outline: none;
   cursor: pointer;
 }
 